<h1>New game</h1>

<div>
  <ul class="grid">
    <% @grid.each do |letter| %>
    <li><%= letter %></li>
    <% end %>
  </ul>
</div>

<form action="/score" method="post">
  <input type="text" name="word" placeholder="What is the longest word you can find?" class="form-control" >
  <button type="submit" value="play" class="btn btn-primary mb-3">Play</button>
  <%= hidden_field_tag :grid, @grid %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
</form>
